h1{
    text-align: center;
}
.container{
    background-color: rgb(27, 223, 249);
    max-width: 730px;
    margin: 56px auto;
    padding: 0 16px;
    border:2px solid yellow;
}
.form-row{
    display: flex;
    flex-direction: column;
    gap: 8px;
    /* background-color: #fff; */
}
.card{
    padding: 10px;
    border: 2px solid black;
    background-color: #fc96cb;
}
button{
    padding: 12px 18px;
    border-radius: 999px;
    border: 1px solid blue;
    font-weight: 1000;
    font-size: 13px;
    background: rgb(34, 255, 248);
    color: hsl(247, 90%, 45%);
}
button.secondary{
    background: #efe2e2;
    border-color: rgba(19, 11, 250, 0.876);
    color: rgb(247, 4, 29);
}
input{
    border-radius: 10px;
    height: 25px;
}
select{
    border-radius: 12px;
    height:30px ;
}
textarea {
    border-radius:10px ;
    border:2px solid rgb(8, 0, 255);
}
input:focus,
select:focus,
textarea:focus{
    outline: 3px solid #9af705;
}
button:hover{
    transform: translateY(-1px);
}
button:active{
    transform: translateY(0);
}
.error{
    color: red;
    font-size: 0.9em;
    margin-left: 10px;
}