body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: paleturquoise;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

}

th,
td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: center;
}

thead {
    background-color: #4a90e2;
    color: white;

}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #f1f7ff;

}
@media screen and (max-width: 768px){
  .table-area{
   overflow-x: scroll;
   max-height: 500px;
  }
  thead{
    position: sticky;
    top: 0;
  }
}
